<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <title>
        <%= title %>
    </title>
       <link rel='stylesheet' href='https://unpkg.com/papercss@1.5.1/dist/paper.min.css' />
</head>

<body style="padding: 0 1rem;">
    <nav class="border split-nav">
        <div class="nav-brand">
            <h3>
                <a href="#">Movies</a>
            </h3>
        </div>

        <ul class="inline">
            <li>
                <a href="/movies">Movies</a>
            </li>

            <% if (locals.user) { %>
                <li>
                    <a href="/admin">Admin</a>
                </li>
                <% } %>


                    <% if (!locals.user) { %>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <% } %>


                            <% if (locals.user) { %>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                                <% } %>
        </ul>
        <% if (locals.user) { %>


            <span class="badge success">
                <%= user.username %>
            </span>


            <% } %>
    </nav>
</body>
</html>